<?xml version="1.0" encoding="utf-8"?>
<DataLoggerConfigDocument
  xmlns="http://www.phoenixcontact.com/schema/dataloggerconfig"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.phoenixcontact.com/schema/dataloggerconfig.xsd">

  <General name="DB_name" samplingInterval ="100ms" publishInterval="200ms" bufferCapacity="500"/>

  <Datasink type="db" dst="/opt/plcnext/projects/Services/DataLogger/perf_add_logg.db" rollover="false" maxFileSize="7000000" storeChangesOnly="false"/> 

  <Variables>
    <Variable name = "Arp.Plc.Eclr/code.cpu_1"/>
    <Variable name = "Arp.Plc.Eclr/code.cpu_2"/>
    <Variable name = "Arp.Plc.Eclr/code.temp"/>


    <Variable name = "Arp.Plc.Eclr/code.ESM_DATA1.ESM_INFOS[1].TASK_INFOS[1].LAST_EXEC_DURATION"/>
    <Variable name = "Arp.Plc.Eclr/code.ESM_DATA1.ESM_INFOS[1].TASK_INFOS[1].LAST_ACTIVATION_DELAY"/>
    <Variable name = "Arp.Plc.Eclr/code.ESM_DATA1.EXCEPTION_COUNT"/>
    <Variable name = "Arp.Plc.Eclr/code.ESM_DATA1.ESM_INFOS[2].TASK_INFOS[1].LAST_EXEC_DURATION"/>
    <Variable name = "Arp.Plc.Eclr/code.ESM_DATA1.ESM_INFOS[2].TASK_INFOS[1].LAST_ACTIVATION_DELAY"/>

    <Variable name = "Arp.Plc.Eclr/code.RTC_DT.YEAR"/>
    <Variable name = "Arp.Plc.Eclr/code.RTC_DT.MONTH"/>
    <Variable name = "Arp.Plc.Eclr/code.RTC_DT.DAY"/>
    <Variable name = "Arp.Plc.Eclr/code.RTC_DT.SECONDS"/>
    <Variable name = "Arp.Plc.Eclr/code.RTC_DT.MINUTES"/>
    <Variable name = "Arp.Plc.Eclr/code.RTC_DT.HOURS"/>

    <Variable name = "Arp.Plc.Eclr/code.USER_PART_DT.MEM_TOTAL"/>
    <Variable name = "Arp.Plc.Eclr/code.USER_PART_DT.MEM_FREE"/>
    <Variable name = "Arp.Plc.Eclr/code.USER_PART_DT.MEM_USED"/>
    <Variable name = "Arp.Plc.Eclr/code.USER_PART_DT.MEM_USAGE"/>

  </Variables>
</DataLoggerConfigDocument>
